<div class="container">
  <div class = 'row' >
    <% workposts.each do |workpost| %>
      <div class="col-md-4">
        <div class = 'detaillink'>
          <h4>work detail</h4>
          <%= workpost.content %>
          <%= link_to '詳細ページ', workpost_path(workpost.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>