<div class="align-items-center justify-content-center">
    <div class="border">
        <span style="color:#ffffff;">
            <h1>workpostとは？</h1>
            <h1>簡単なお仕事を発注できる！！</h1>
        </span>
    </div>
</div>

<div>
    <p>案件一覧</p>
</div>


<%= render 'workposts/workposts', workposts: @workposts %>